<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControls" version="1.0.0" targetFramework="net461" />
  <package id="AjaxMin" version="5.14.5506.26202" targetFramework="net461" />
  <package id="Awesomely" version="1.0.0.4" targetFramework="net461" />
  <package id="Boleto.Net" version="2.0.1" targetFramework="net461" />
  <package id="boletofacilsdk" version="1.0.5" targetFramework="net461" />
  <package id="Cielo" version="1.0.0.5" targetFramework="net461" />
  <package id="cllEventos" version="1.0.8" targetFramework="net461" />
  <package id="CLLFuncoes" version="1.0.4" targetFramework="net461" />
  <package id="Compona" version="1.0.6.31251" targetFramework="net461" />
  <package id="ControlMessageBox" version="1.0.2559.27788" targetFramework="net461" />
  <package id="DynamicBuilder" version="1.0.0.0" targetFramework="net461" />
  <package id="Gerencianet.SDK" version="1.0.7" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.8.9" targetFramework="net461" />
  <package id="Interop" version="3.0.1" targetFramework="net461" />
  <package id="Interop.Itaucripto" version="1.0.0" targetFramework="net461" />
  <package id="KrksaCompo" version="1.0.0" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.6" targetFramework="net461" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net461" />
  <package id="Microsoft.Data.Edm" version="5.8.4" targetFramework="net461" />
  <package id="Microsoft.Data.OData" version="5.8.4" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="MSCaptcha" version="1.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
  <package id="PayPal" version="1.9.1" targetFramework="net461" />
  <package id="QRCoder" version="1.3.5" targetFramework="net461" />
  <package id="Rede.Acquiring.SDK.Rest" version="1.0.0" targetFramework="net461" />
  <package id="RestSharp" version="106.3.1" targetFramework="net461" />
  <package id="Sipag_API_TSL1.2" version="1.2.0" targetFramework="net461" />
  <package id="Stimulsoft2015.2" version="2015.2.0" targetFramework="net461" />
  <package id="System.Drawing.Common" version="4.5.0" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
  <package id="System.Net.Http.Formatting.Extension" version="5.2.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
  <package id="System.Spatial" version="5.8.4" targetFramework="net461" />
  <package id="Uol.PagSeguro" version="1.0.0" targetFramework="net461" />
  <package id="WindowsAzure.Storage" version="9.3.2" targetFramework="net461" />
  <package id="ZXing.Net" version="0.15.0" targetFramework="net461" />
</packages>